td,
th {
  padding: 0.5rem;
}

.select-update {
  margin-left: 6px;
}

/* Estilos para a barra lateral */
.sidebar {
    height: 100%;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Estilos para os links na barra lateral */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

/* Estilos para os links na barra lateral quando o mouse passar por cima */
.sidebar a:hover {
    background-color: #555;
    color: white;
}

/* Estilos para o conteúdo principal */
.content {
    margin-left: 200px; /* Deve ser igual à largura da barra lateral */
    padding: 16px;
    height: 1000px; /* Apenas para fins de demonstração */
}

.table-excel {
  border-collapse: collapse;
  width: 100%;
}
.table-excel td, .table-excel th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-excel th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.table-excel thead th {
  text-align: left;
}
.table-excel tbody td {
  text-align: center;
}
.table-excel tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-excel {
  border-collapse: collapse;
  width: 10%;
  font-family: Arial, sans-serif;
  margin-bottom: 2px;
}

.table-excel td, .table-excel th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-excel th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-excel thead th {
  text-align: left;
}

.table-excel tbody td {
  text-align: center;
}

.table-excel tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}